@import "nib"

color-accent = #4285f4
color-text = #222
typeface = "San Francisco", "Helvetica Neue", sans-serif
popup-width = 340

@font-face
    font-family "San Francisco"
    src url('fonts/sanfranciscotext-regular-webfont.eot')
    src url('fonts/sanfranciscotext-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/sanfranciscotext-regular-webfont.woff2') format('woff2'),
        url('fonts/sanfranciscotext-regular-webfont.woff') format('woff'),
        url('fonts/sanfranciscotext-regular-webfont.ttf') format('truetype'),
        url('fonts/sanfranciscotext-regular-webfont.svg#san_francisco_textregular') format('svg')
    font-weight normal
    font-style normal

body
  width (popup-width)px
  margin 0
  padding 0 8px
  position relative
  box-sizing border-box
  font-family typeface
  font-smoothing antialiased

a:focus
  outline none

.modal
  min-height 100%
  position absolute
  top 0
  left 0
  right 0
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color rgba(240, 240, 240, .9)
  z-index 2

  > div
    box-sizing border-box
    box-shadow 0 1px 2px rgba(0, 0, 0, .15)
    border-radius 3px

  header
    margin 0 0 16px
    display flex
    flex-direction row
    justify-content space-between
    align-items center

  h2
    margin 0
    font-weight 400
    font-size 16px
    color color-text

  .close-modal
    display inline-block
    width 16px
    height 16px
    padding 3px 0
    transition opacity 300ms

    svg
      fill rgba(0, 0, 0, .5)
      // transition fill 300ms

    &:hover
      opacity .6

    // &:hover svg
        //fill #E40014

.cheat-sheet
  width 94%
  margin 3% 0
  padding 20px
  background-color #fff

  ul
    list-style none
    margin 0
    padding 0

  li
    padding 12px 0
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    border-top 1px solid #ddd
    font-size 14px
    font-weight 400
    color color-text

    &:last-child
      padding-bottom 0

  h3
    margin 0
    font-size 14px
    font-weight 400

  p
    margin 0
    opacity 0.5
    font-size 14px
    font-weight 400

.search
  width 100%
  padding 8px
  margin 8px 0 4px
  color color-text
  background #fcfcfc
  border 1px solid #ddd
  border-radius 3px
  box-shadow inset 0 1px 1px rgba(0, 0, 0, .07)
  font 400 14px typeface
  font-smoothing antialiased

  &:hover
    background #fff

  &:focus
    outline 0
    background #fff
    border-color #ccc

.loader
  text-align center
  margin 24px 0 28px

.tab-groups
  padding 6px 0 8px
  margin 0
  width 100%
  max-height 450px
  overflow-x hidden
  overflow-y scroll
  user-select none

  &::before
    content ""
    display block
    width (popup-width)px
    height 6px
    position fixed
    top 48px
    left 8px
    background-image linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
    z-index 1

  &::after
    content ""
    display block
    width (popup-width)px
    height 8px
    position fixed
    bottom 0
    left 8px
    background-image linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))

  &::-webkit-scrollbar
    display none

  ul
    width 100%
    padding 0 0 8px
    margin 0 0 8px
    border-bottom 1px solid #ddd

    &:last-child
      margin 0
      padding 0
      border-bottom none

  li
    color color-text
    height 36px
    position relative
    display flex
    flex-direction row
    align-items center

    &.active
      color #15c

    &.pinned
      background url('img/pin.svg') no-repeat center right

      h1
        width (popup-width - 88)px

    &.selected
      cursor pointer
      color #fff
      background-color color-accent
      border-radius 3px

      h1
        width (popup-width - 78)px

      .close-tab
        opacity 1

  .sortable-placeholder
    opacity 0

  .favicon
    width 16px
    height 16px
    margin 0 10px

    img
      width 16px
      height 16px

    &.favicon-placeholder
      background-color rgba(204, 204, 204, .5)
      border-radius 3px

      img
        opacity 0

  h1
    margin 0
    font 400 14px typeface
    width (popup-width - 62)px
    white-space nowrap
    overflow hidden
    // text-overflow ellipsis
    // TODO: Check browser support
    -webkit-mask-image -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%)

  .close-tab
    width 16px
    height 16px
    opacity 0
    padding 10px
    position absolute
    right 0

    &:hover svg
      opacity .6

    svg
      fill #fff
      transition opacity .3s

.no-matches
  text-align center
  margin 14px 0 18px
  font 400 14px typeface
  color lighten(color-text, 50%)
