<!DOCTYPE html>
<html lang="en" ng-app="tabio" ng-csp ng-cloak>
<head>
  <meta charset="UTF-8">
  <title>Tabio</title>

  <link rel="stylesheet" href="vendor/angular-csp.css">
  <link rel="stylesheet" href="vendor/hotkeys.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController" ng-mousemove="onMousemove($event)">

  <input
    class="search"
    type="search"
    placeholder="Search"
    ng-model="search"
    ng-change="onChange()"
  >

  <div class="loader" ng-if="!contentReady">
    <img src="img/loader.svg">
  </div>

  <div tab-groups class="tab-groups" ng-if="contentReady && !!filteredTabGroups.length">
    <ul ng-repeat="tabGroup in filteredTabGroups" ng-sortable="sortableConfig">
      <li
        ng-repeat="tab in tabGroup"
        ng-class="{
          'active': tab.active,
          'selected': tab.selected,
          'pinned': tab.pinned
        }"
        ng-mouseover="onMouseover(tab)"
        ng-click="goToTab(tab.windowId, tab.id)"
      >

        <div
          class="favicon"
          ng-class="{
            'favicon-placeholder': !tab.favIconUrl || tab.favIconUrl.indexOf('http') === -1
          }"
        >
          <img ng-src="{{tab.favIconUrl}}" alt="{{tab.title}}">
        </div>

        <h1>{{tab.title}}</h1>

        <a href="#" class="close-tab" ng-click="closeTab(tab.windowId, tab.id)">
          <svg viewBox="0 0 16 16" width="16" height="16">
            <g transform="rotate(45 8 8)">
              <rect x="7" y="1" width="2" height="14"></rect>
              <rect x="1" y="7" width="14" height="2"></rect>
            </g>
          </svg>
        </a>

      </li>
    </ul>
  </div>

  <p class="no-matches" ng-if="contentReady && !filteredTabGroups.length">
    No matches found
  </p>

  <script src="vendor/jquery.min.js"></script>
  <script src="vendor/angular.min.js"></script>
  <script src="vendor/fuse.min.js"></script>
  <script src="vendor/hotkeys.js"></script>
  <script src="vendor/Sortable.min.js"></script>
  <script src="vendor/ng-sortable.js"></script>
  <script src="app.js"></script>
</body>
</html>
