body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  /*background: #D4EEF9;*/
  background: #f5f5f5;
}

.container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #245df6;
  background: #00AEF0;
  background: #f5f5f5;
  background: #fff;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  width: 100%;
  /*padding-bottom: 60px;*/
}

header {
  padding: 50px 0;
  /*background: red;*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

header span {
  font: 700 20px/1 "Avenir Next", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #245DF6;
  /*color: #111;*/
  /*color: #245df6;*/
  padding-left: 20px;
}

.logo {
  fill: #245DF6;
  fill: #111;
  /*fill: #fff;*/
  fill: #245df6;
  /*fill: #111;*/
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 90px;
  /*border-bottom: 1px solid #ddd;*/
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #ddd;
}

.feature div {
  width: 45%;
  height: 300px;
  /*background: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding: 60px 0;*/
}

.feature h2 {
  font: 600 20px/1.2 "Avenir Next", sans-serif;
  margin: 0 0 18px;
}

.feature p {
  font: 400 16px/1.8 "Avenir Next", sans-serif;
  color: #555;
  margin: 0;
}

.feature:last-child {
  border-bottom: none;
}


.hero-text,
.hero-img {
  width: 45%;
  /*background: green;*/
}

.hero-text {
  /*background: rgba(0,0,0,0.2);*/
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  font: 600 52px/1.2 "Avenir Next", sans-serif;
  margin: 40px 0;
  color: #222;
  color: #111;
  /*background: rgba(0,0,0,0.2);*/
}

.hero-text p {
  font: 400 20px/1.6 "Avenir Next", sans-serif;
  margin: 0;
  color: #666;
  color: #555;
  /*color: #111;*/
  /*color: rgba(255,255,255,0.8);*/
  /*background: rgba(0,0,0,0.2);*/
  flex-grow: 1;
}

.hero-text .install {
  font: 600 20px "Avenir Next", sans-serif;
  padding: 16px 26px;
  color: #245df6;
  color: #111;
  color: #00AEF0;
  color: #245df6;
  color: #fff;
  background: #222;
  background: #fff;
  background: #111;
  background: #00AEF0;
  background: #00AEF0;
  background: transparent;
  background: #245DF6;
  /*background: #111;*/
  /*border: 2px solid #245df6;*/
  display: inline-block;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 3px;
  transition: all 0.3s;
  align-self: flex-start;
}

.hero-text .install:hover {
  /*opacity: 0.8;*/
  /*color: #245DF6;
  background: #fff;*/
  /*background: #0089BD;*/
  transform: scale(1.04);
}

.hero-text .install:active {
  transform: scale(.98);
}

.hero-img {
  /*background: #eee;*/
  /*background: rgba(0,0,0,0.2);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  padding: 0;
}

.footer li {
  display: inline-block;
  list-style: none;
  margin-right: 28px;
}

.footer a {
  font: 600 16px "Avenir Next", sans-serif;
  color: #245df6;
  transition: all 0.3s;
}

.footer a:hover {
  opacity: 0.6;
}

.footer p {
  font: 400 16px "Avenir Next", sans-serif;
  color: #555;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}
